@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


body {
    background:  #0561b1; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em; 
       
}

h2 {
    margin: 0.8em 0 0.8em 0;
    
}

main {
    text-align: center;
    margin: auto;
    padding-top: 4em;
}

button {
    height: 40px;
    width: 85px;
    border: none;
    font-size: 0.5em;
    font-weight: bold;
    cursor: pointer;
   
}

button:hover {
    background-color: black;
    color: white;
}



