@charset "UTF_8";

body {
    background-color: #000000;
    font-size: 2.5em;
}

main {
    background-color: #01F558;
    text-align: center;
    height: 400px;
    width: 775px;
    margin: 289px auto 289px auto;
}

div {
    display: inline-block;
    background-color: #01F558;
    color: #FFFF;
    
}

#hours, #minutes, #seconds  {
    margin-top: 130px;
    height: 90px;
    width: 140px;
    padding-top: 55px;
}